@{
    ViewData["Title"] = "Home Page";
}

<h1>CRUD de Biblioteca - Página Inicial</h1>
    <p>
        Bem-vindo ao CRUD de Biblioteca! Este é um pequeno projeto desenvolvido para servir como portfólio e aprendizado. Aqui você encontrará um sistema básico de gerenciamento de livros e autores.
    </p>
    <p>
        Esta aplicação foi desenvolvida como um projeto para aprender os conceitos fundamentais de C#, ASP.NET Core MVC e Entity Framework. Por ser um projeto de aprendizado, ele é passível de melhorias e pode ser estendido para incluir mais funcionalidades e recursos no futuro.
    </p>
    <p>
        Neste momento, foram implementadas apenas as funcionalidades básicas de um CRUD (Criar, Ler, Atualizar e Deletar) para livros e autores. Além disso, algumas validações de dados foram elaboradas para garantir que as informações essenciais sejam fornecidas corretamente.
    </p>
    <p>
        Como desenvolvedor, você é encorajado a clonar este projeto e experimentar as funcionalidades existentes. Fique à vontade para explorar o código-fonte e realizar melhorias de acordo com suas necessidades e objetivos.
    </p>
    <div class="disclaimer">
        <p>
            <strong>Aviso:</strong> Este projeto foi criado com fins educacionais e não é recomendado para uso em produção, pois pode não conter todas as funcionalidades necessárias para um sistema de biblioteca completo e pode conter vulnerabilidades de segurança. Certifique-se de avaliar e aprimorar a segurança e a robustez do projeto antes de considerá-lo para uso em ambiente de produção.
        </p>
         <p>
        Para saber mais sobre minhas experiências e projetos, visite meu perfil no <a href="https://www.linkedin.com/in/esdrasdev/" target="_blank">LinkedIn</a> ou <a href="https://github.com/esdraslimaf">GitHub!</a>          
    </p>
    </div>