@model LivroModel

@{
    ViewData["Title"] = "Adicionar novo Livro";
}

<div class="text-center">

<h2 class="display-4">Cadastrar novo livro</h2>

</div>

<form asp-controller="Livro" asp-action="AddLivro" method="post">
  <div class="mb-3">
    <label for="autorid" class="form-label">AutorID</label>
    <input type="text" id="autorid" asp-for="AutorId" class="form-control" placeholder="Insira o ID do Autor">
  </div>

  <div class="mb-3">
    <label for="titulo" class="form-label">Titulo</label>
    <input type="text" id="titulo" asp-for="Titulo" class="form-control" placeholder="Insira o titulo">
  </div>

  <div class="mb-3">
    <label for="data" class="form-label">DataPublicacao</label>
    <input type="text" id="data" asp-for="DataPublicacao" class="form-control" placeholder="Insira a data de publicação">
  </div>

  <div class="mb-3">
    <label for="edt" class="form-label">Editora</label>
    <input type="text" id="edt" asp-for="Editora" class="form-control" placeholder="Insira a editora">
  </div>


  <button type="submit" class="btn btn-success">Confirmar</button>
  <a class="btn btn-secondary" asp-controller="Autor" asp-action="Index" role="button">Voltar</a>
</form>